

.box {

   display: flex;
   flex-direction: column;
   


}

.ficha{
    display: flex;
    justify-content:space-between;
    width: 1000px;
   
    
}


.top{
   margin-bottom: 0.5px;
    
}

.title{
    display: flex;
    justify-content: center; 
}
