
.box {

    display: flex;
    flex-direction: column;
    
 }
 
 .title{
     display: flex;
     justify-content: center; 
 }
 
 
 .ficha{
     display: flex;
     justify-content:space-between;
     flex-direction:row;
     flex-wrap:wrap;
     border: 2px;
     max-width: 800px;
     background-color: #87CEFA;
     box-shadow: 2px 2px 10px 0 rgb(69, 68, 68);
     border-radius: 10px;
     font-size: 1.3em;
     
    
 }
 
 .gerais{
     display: flex;
     flex-direction:column;
     flex-wrap:wrap;
     align-items: center;
     
 }
 
 .ap{
     display: flex;
     flex-direction:column;
     flex-wrap:wrap;
 }
 
 .gineco{
     display: flex;
     flex-direction:column;
     flex-wrap:wrap;
 }
 .resumo{
     display: flex;
     flex-direction:column;
     flex-wrap:wrap;
 }
 .topic{
     display: flex;
     flex-direction:row;
     margin-top: 20px;
     padding: 5px; 
     gap: 5px 
 }
 .boxForm{
     display: flex;
     width: auto;
     flex-direction:row;
     flex-wrap:wrap;
 }
 .lineBig{
     max-width: 700px;
     border-radius: 10px;
 }
 .lineSmall{
     width: 100px;
     border-radius: 10px;
 }
 .lineMedium{
     width: 300px;
     border-radius: 10px;
 
 }
 .sub{
     display: flex;
     justify-content: center; 
 }
 .cat{
     display: flex;
     flex-direction:row;
     flex-wrap:wrap;
     max-width: 800px; 
     
 }